.container{
    margin: auto;
    width: 1280px;
}

header{
    display: flex;
    justify-content: space-between;
}

.top_menu ul, .logo, .side_menu{
    padding: 29px 0;
}

.logo{
    font-family: Montserrat;
    font-size: 24px;
    color: #22202E;
}

.top_menu ul{
    display: flex;
    gap: 44px;
}

.top_menu a{
    color: #726E8D;
    font-family: Open Sans;
    font-size: 16px;
}

.side_menu{
    display: flex;
    gap: 16px;
}

.side_menu a{
    width: 16px;
    height: 16px;
    display: block;
}

.side_item1{
    background-image: url(../images/search.svg);
}

.side_item2{
    background-image: url(../images/shopping--cart.svg);
}

.side_item3{
    background-image: url(../images/user--avatar.svg);
}

.hr1{
    background-color: #EBE8F4;
    margin: 0;
    border: none;
    height: 1px;
}

.top_main{
    height: 223px;
}

.top_main h2{
    font-family: Montserrat;
    font-size: 36px;
    color: #2A254B;
    text-align: center;
    padding-top: 80px;
}

.filter_menu{
    padding-top: 24px;
    display: flex;
    justify-content: space-between;
}

.filter_menu select{
    padding: 12px 24px;
    border: none;
    font-size: 16px;
    font-family: Open Sans;
    line-height: 24px;
    color: #2A254B;
}

select:active, select:focus{
    outline:none;
}

.left_menu{
    display: flex;
    gap: 12px;
    padding: 8px 24px;
}

.right_menu{
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 8px 24px;
}

.right_menu p{
    font-size: 14px;
    line-height: 21px;
    color: #2A254B;
    font-family: open Sans;
}

.main_content{
    display: grid;
    grid-template-columns: repeat(4, 305px);
    grid-template-rows: repeat(3, 462px);
    grid-column-gap: 20px;
    grid-row-gap: 48px;
    padding-top: 28px;
}

.image_card{
    background-size: cover;
}

.details{
    padding-top: 24px;
}

.details p{
    color: #2A254B;
}

.name_card{
    font-family: Montserrat;
    font-size: 20px;
    line-height: 28px;
}

.price_card{
    font-family: open Sans;
    font-size: 18px;
    line-height: 27px;
    padding-top: 8px;
}

.card{
    cursor: pointer;
}

.bottom_button{
    background-color: #F9F9F9;
    border: none;
    padding: 16px 32px;
    cursor: pointer;
    display: block;
    font-size: 16px;
    margin: 48px auto;
}

.bottom_button a{
    color: #2A254B;
}

.bottom_main{
    display: flex;
}

.img_bottom{
    background-image: url(../images/join-background.jpg);
    height: 521px;
    width: 50%;
    background-repeat: no-repeat;
}

.bottom_text{
    width: 50%;
    padding: 71px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bottom_text1, .bottom_text2{
    color: #2A254B;
    padding-left: 49px;
}

.bottom_text1{
    font-size: 32px;
    font-family: Montserrat;
}

.bottom_text2{
    font-size: 16px;
    font-family: open Sans;
    padding-top: 21px;
}

.bottom_text button{
    border: none;
    padding: 16px 32px;
    cursor: pointer;
    display: block;
    background-color: #2A254B;
    width: max-content;
    margin-left: 72px;
}

.bottom_text a{
    color: #FFFFFF;
}

.footer_menu{
    display: flex;
    gap: 100px;
    width: 50%;
    padding-top: 58px;
    padding-left: 82px;
}

.footer1{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #4E4D93;
    padding-bottom: 48px;
}

.footer_menu ul{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer_menu a{
    color: #FFFFFF;
    font-size: 14px;
    font-family: Montserrat;
    line-height: 20px;
}

.footer1 img{
    width: max-content;
    height: max-content;
    padding-top: 60px;
    background-repeat: no-repeat;
}

.footer1_text{
    color: #FFFFFF;
    font-size: 16px;
    font-family: Montserrat;
    line-height: 20px;
}

.footer2{
    display: flex;
    padding: 22px 0;
    justify-content: space-between;
}

.main_foot{
    background-color: #2A254B;
}

.footer2 p{
    color: white;
    font-size: 14px;
    line-height: 20px;
    font-family: open Sans;
}

.icon_menu{
    display: flex;
    gap: 27px;
}

.icon_menu a{
    width: 18px;
    height: 18px;
    display: block;
}

.itembot1{
    background-image: url(../images/logo--linkedin.svg);
}

.itembot2{
    background-image: url(../images/logo--facebook.svg);
}

.itembot3{
    background-image: url(../images/logo--instagram.svg);
}

.itembot4{
    background-image: url(../images/logo--skype.svg);
}

.itembot5{
    background-image: url(../images/logo--twitter.svg);
}

.itembot6{
    background-image: url(../images/logo--pinterest.svg);
}